@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap:100,200,300,400,500');

/*----------------------HEADER SECTION WITH NAV BAR-------------------*/
header {
    margin: 0
    }

.heading {
    margin-left: 50px;
}

.image1 {
    background: url("../images/image1.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;

}

.background-color {
    background-color: #E3DFFF;
}

.name { 
    font-family: "Lato", Arial;
    font-weight:  500;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #270E44;
}

.titlename {
    font-family: "Lato", Arial;
    font-weight: 500;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #270E44;

}